<div class="auth-container">
    <mat-card>
      <mat-card-title>Sign Up</mat-card-title>
      <mat-card-content>
        <form>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Username</mat-label>
            <input matInput type="text" required>
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Password</mat-label>
            <input matInput type="password" required>
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" required>
          </mat-form-field>
  
          <button mat-raised-button color="primary" class="full-width">Sign Up</button>
        </form>
        <p class="redirect-text">
          Already have an account? <a routerLink="/auth/login">Login</a>
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  