.product-card {
  width: 250px;
  height: 420px;
  text-align: center;
}

.product-card img {
  max-width: 100%;
  height : 220px; 
  object-fit: contain; // prevents cropping
  background-color: white; 
  display: block;

}

.product-card button{
  width: 100%;
}

.product-card p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%; // ✅ Keeps description short
}



.price {
  font-size: 18px;
  font-weight: bold;
  color: green;
}
