.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  mat-card {
    width: 350px;
    padding: 20px;
    text-align: center;
  }
  
  .full-width {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .redirect-text {
    margin-top: 10px;
    font-size: 14px;
  }
  